<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button class="back" defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">Feedback</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="registrationForm">
      <ion-list>
        <div>
 
          <ion-label position="floating" style="color: purple; font-family: Poppins-Regular;
          font-size: 0.9rem; ">Title</ion-label>
          <ion-textarea formControlName="title" rows="7" style="font-family: Poppins-Regular;
          font-size: 0.9rem;"></ion-textarea>
  
        </div>
        <div *ngFor="let error of errorMessages.title">
          <ng-container *ngIf="title.hasError(error.type) && (title.dirty || title.touched)">
            <h3><small class="error-message" >{{error.message}}</small></h3>
          </ng-container>
        </div>

     
          <ion-label position="floating" style="color: purple;font-family: Poppins-Regular;
          font-size: 0.9rem;">Describe your issue or share your ideas...</ion-label>
          <ion-textarea rows="7" formControlName="description" style="font-family: Poppins-Regular;
          font-size: 0.9rem;"></ion-textarea>
  
        <div *ngFor="let error of errorMessages.description">
          <ng-container *ngIf="description.hasError(error.type) && (description.dirty ||description.touched)">
            <h3><small class="error-message">{{error.message}}</small></h3>
          </ng-container>
        </div>
      
          <ion-label style="color: purple;font-family: Poppins-Regular;
          font-size: 0.9rem;">Rate this app</ion-label>
          <ion-select formControlName="rate" style="font-family: Poppins-Regular;
          font-size: 0.9rem;">
            <ion-select-option value="0" style="font-family: Poppins-Regular;
            font-size: 0.9rem;">Very Poor</ion-select-option>
            <ion-select-option value="2"style="font-family: Poppins-Regular;
            font-size: 0.9rem;">Poor</ion-select-option>
            <ion-select-option value="4" style="font-family: Poppins-Regular;
            font-size: 0.9rem;">Fair</ion-select-option>
            <ion-select-option value="6" style="font-family: Poppins-Regular;
            font-size: 0.9rem;">Good</ion-select-option>
            <ion-select-option value="8"style="font-family: Poppins-Regular;
            font-size: 0.9rem;">Very Good</ion-select-option>
            <ion-select-option value="10"style="font-family: Poppins-Regular;
            font-size: 0.9rem;">Excellent</ion-select-option>
          </ion-select>
     
      </ion-list>
      <!-- <ion-row class="attach-icon-padding">
        <ion-col (click)="getImageFx()">
          <ion-icon class="attach-icon" ios="image" md="image" rows="6" style="padding:2px;color:#0040ff;">
          </ion-icon>
        </ion-col>

      </ion-row> -->
      <!-- <input *ngIf="!platform.is('cordova')" type="file" name="file" id="file"
    (change)='uploadpictureFx("localthumbnail",$event)' /> -->

    </form>
  </div>

  <!-- <ng-container *ngIf="mediaList.length  ">
  <ion-item class="mediaThumbnail">
  <ion-scroll scrollX="true">
  <ng-container *ngFor="let m of mediaList">
  <ion-thumbnail (click)="slide()">
  <img *ngIf="m.type === 'image'" [src]="m.uri">
  <img *ngIf="m.type === 'video'" src="./assets/imgs/video-camera.png">
  </ion-thumbnail>
  </ng-container></ion-scroll>
  </ion-item>
  </ng-container> -->



</ion-content>
<footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <button ion-button (click)="submit()" class="post-button">
          <p class="post-label">Submit</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</footer>

<!-- <div>
  <ion-row>
    <ion-col>
      <button ion-button (click)="submit()" class="post-button">
        <p class="post-label">Submit</p>
      </button>
    </ion-col>
  </ion-row>
  </div> -->