<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding:15px !important;">
    <h1>MRA for Android</h1>

    <p>Version</p>
    <p>{{version}}:{{build}}</p>

    <p>MRA and the <span><img img-title style=" width: 120px;" src="assets/mra.png"/></span> logos are trademarks of MRA. All rights reserved.</p>

    <p>MRA for Android is built using open-source software.</p>
  </div>
</ion-content> 