 .slide-zoom {
     height: 100%;
    }
    .slide-image {
      max-height: 80%;
       // max-width: 60%;
      // margin: 18px 0;
    }
    // ion-slide.swiper-slide {
    //   align-items: center;
    // }
    .modalBar{
      .toolbar-background{
        background-color: #000000;
    }
    }
    .content{
      background-color: #000000;
    }
    .button-clear{
      color:white;
    }
    .bar-button-default-md{
      color: white;
    }
    .toolbar-title-md{
      color: white;
    }
    .button{
      float:right;
    }
    .bar-button-clear{
      color:white;
    }
    .swiper-pagination-bullet-active {
      background: white;
    }

  