.footer-toolbar{
  background-color: #1FA2FF;
}

ion-footer{
  align-items: center;
  //background-color: #1FA2FF;
  padding: 0 10px;
}

.ion-label{
  ion-label{
    font-size: 0.9rem;
    color: purple;
    font-family: Poppins-Regular;
  }

  ion-input{
    font-size: 0.8rem;
    font-family: Poppins-Regular;
  }
}
button{
  font-size: 0.9rem;
    font-family: Poppins-Regular;
}


