.footer-toolbar{
  background-color: #1FA2FF;
}

ion-footer{
  align-items: center;
  //background-color: #1FA2FF;
  padding: 0 10px;
}

page-edit-profile{
  [footerTheme]{
    .toolbar-background-md{
      background: #1FA2FF;
    }
    .toolbar-content{
      .toolbar-title{
        color:#f2f2f2;
      }
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
      color: #f2f2f2;
    }
  }
}




