
<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo"/>
    <ion-title slot="secondary">Add Volunteer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
      <ion-item lines="full">
    <ion-label position="floating">Full Name</ion-label> &nbsp;
      <ion-input type='full_name' required class="input_name" type="text" placeholder="Enter full name">
      </ion-input>
      </ion-item>
      
      <ion-item lines="full">
      <ion-label position="floating">IC Number</ion-label> &nbsp;
      <ion-input type="nric" required class="input_name" type="number" placeholder="Enter IC number"></ion-input>
      </ion-item>

      <ion-item lines="full">
      <ion-label position="floating">Unit Number/House Number</ion-label> &nbsp;
      <ion-input type="address_unit_no" required class="input_name" type="text" placeholder="Enter unit number/ house number"></ion-input>
      </ion-item>

      <ion-item lines="full">
      <ion-label position="floating">Street Name</ion-label> &nbsp;
      <ion-input type="address_street_name_01" required class="input_name" type="text"
       placeholder="Enter street name"></ion-input>
      </ion-item>

      <ion-item lines="full">
      <ion-label position="floating">Postcode</ion-label> &nbsp;
      <ion-input type="address_postcode" required class="input_name" type="number"
      placeholder="Enter postcode"></ion-input>
      </ion-item>
    
      <ion-item lines="full">
      <ion-label position="floating">City</ion-label> &nbsp;
      <ion-input type="address_city" required class="input_name" type="text" placeholder="Enter city"></ion-input>
      </ion-item>
    
      <ion-item lines="full">
      <ion-label position="floating">State</ion-label> &nbsp;
      <ion-input type="address_state" required class="input_name" type="text" placeholder="Enter state"></ion-input>
      </ion-item>

      <ion-item lines="full">
      <ion-label position="floating">Skills</ion-label> &nbsp;
      <ion-input type="skills" required class="input_name" type="text" placeholder="Enter skills"></ion-input>
      </ion-item>

      <ion-item lines="full">
      <ion-label position="floating">Others</ion-label> &nbsp;
      <ion-input type="other_skills" required  class="input_name" type="text" placeholder="Enter other skills"></ion-input>
      </ion-item>
    
      <ion-item lines="full">
      <ion-label position="floating">Field of Interest</ion-label> &nbsp;
      <ion-input type="interest" required  class="input_name" type="number" placeholder="Enter field of interest"></ion-input>
      </ion-item>  
     
      <ion-row>
      <ion-col>
      <button ion-button (click)="post()" class="post-button">
      <p class="post-label">Submit</p>
      </button>
      </ion-col>
      </ion-row>
   
       </form>
       </ion-content>