<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo"/>
    <ion-title  *ngIf="fromPage == 'volunteer-list'" slot="secondary">Add Volunteer</ion-title>
    <ion-title  *ngIf="fromPage != 'volunteer-list'" slot="secondary">Add Participant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row justify-content-center>
    <ion-col no-padding>
      <ion-row style="width: 100%;">
        <ion-searchbar  class="input-search" placeholder="Search here" [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- <ion-list class="padding-list" *ngIf="fromPage == 'volunteer-list'">
    <ion-item *ngFor="let data of allVolunteerList | filter:filterTerm">
      <ion-label>{{data?.name}}</ion-label>
      <ion-label>{{data[0]?.eduList?.medicalField}}</ion-label>
      <ion-checkbox slot="end" (click)="chooseVolunteer(data)"></ion-checkbox>
    </ion-item>
  </ion-list> -->

  <ion-list class="padding-list" *ngIf="fromPage == 'volunteer-list'">
    <ion-item no-padding *ngFor="let data of allVolunteerList | filter:filterTerm">
      <ion-label>
        <ion-row>
          <ion-col size="9">
            <p class="vol-name">{{data?.name}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="9">
            <p class="vol-med">{{data?.eduList[0]?.medicalField}}</p>
          </ion-col>
        </ion-row>
      </ion-label>
      <ion-checkbox slot="end" (click)="chooseVolunteer(data)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list class="padding-list" *ngIf="fromPage != 'volunteer-list'">
    <div *ngFor="let data of allVolunteerList | filter:filterTerm">
      <!-- *ngIf="checkingJoinStatus(data) == true" -->
      <ion-item>
        <ion-label>{{data?.person?.name}}</ion-label>
        <ion-checkbox slot="end" (click)="chooseVolunteer(data)"></ion-checkbox>
      </ion-item>
    </div>

  </ion-list>

  <ion-button class="standard-float-button" (click)="addVolunteer()" expand="full">Add</ion-button>

  <!-- <form [formGroup]="volunteerInfoForm">

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>Full Name</ion-label>
              <ion-input formControlName='full_name' class="input_name" type="text" placeholder="Enter full name">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>IC Number</ion-label>
              <ion-input formControlName='nric' class="input_name" type="number" placeholder="Enter IC Number">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>Unit Number / House Number</ion-label>
              <ion-input formControlName='address_unit_no' class="input_name" type="text"
                placeholder="Enter unit number/house number">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>Street Name</ion-label>
              <ion-input formControlName='address_street_name_01' class="input_name" type="text"
                placeholder="Enter street name">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>Postcode</ion-label>
              <ion-input formControlName='address_postcode' class="input_name" type="number"
                placeholder="Enter postcode">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>City</ion-label>
              <ion-input formControlName='address_city' class="input_name" type="text" placeholder="Enter city">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>State</ion-label>
              <ion-input formControlName='address_state' class="input_name" type="text" placeholder="Enter state">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>Skills</ion-label>
              <ion-input formControlName='skills' class="input_name" type="text" placeholder="Enter full name">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>Others</ion-label>
              <ion-input formControlName='other_skills' class="input_name" type="number" placeholder="Enter IC Number">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="no_paading_x" style="padding-left: 0px;">
        <ion-row>
          <ion-col class="align-left no_paading_x" style="padding-left: 0px;">
            <ion-item class="item_padding">
              <ion-label class="label_name" stacked>Field of Interest</ion-label>
              <ion-input formControlName='interest' class="input_name" type="number" placeholder="Enter IC Number">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </form> -->

</ion-content>
