<ion-content [fullscreen]="true">
  <div id="container">
    <section>
      <img id="logo" src="../../assets/mra.png" />
    </section>
    <section id="title-content">
      <h6>Welcome</h6>
      <h2>Log in to your account</h2>
    </section>
    <section>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color='danger' [routerLink]="['/tabs']">Sign in with Google</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" [routerLink]="['/quick-login']">Payment history</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </div>
</ion-content>