.decription-label {

}

.receipt-label {
    text-align: center;
    white-space: normal;
}

.no-feed {
    font-size: 3rem;
    margin-left: 43%;
    margin-top: 46%;
    color: rgba(25, 118, 210, 0.89);
}

.no-text {
    text-align: center;
    white-space: normal;
    font-size: 1.2rem;
    margin-top: 12%;
}