<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo"/>
    <ion-title slot="secondary">Emergency List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="padding-list">
    <ion-item no-padding *ngFor="let data of contactList; index as i">
      <ion-label no-margin >
        <ion-row>
          <ion-col size="10">
            <p class="volunteer-name">{{data?.name}}</p>
            <p class="volunteer-name">{{data?.contact}}</p>
          </ion-col>
          <ion-col size="2">
            <ion-checkbox color="primary" [(ngModel)]="selectedBox[i]"  (ngModelChange)="changed(i)"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-col>
    <ion-button (click)="addContact()" expand="block" class="standard-float-button">Add</ion-button>
  </ion-col>
</ion-footer>