.img-style {
    border-radius: 10px;
}

.label-project {
    color: black;
    margin-top: 0px;
    font-size: 1rem;
    white-space: normal;
    // position: absolute;
}

.row-margin {
    margin-top: -2rem;
}

.description-row {
    margin-top: -1.5rem;
}

.description {
    color: black;
}