<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo"/>
    <ion-title slot="secondary">Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let data of recordList" class="feed-card">

    <ion-row>
      <ion-col size="3">
        <img class="img-style" [src]="data?.project_image">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <p class="label-project">{{data?.project_name}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="row-margin">
          <ion-col>
            <p class="label-record">{{data?.record_name}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="description-row">
      <ion-col size="6">
        <p class="description">Starting on: {{data?.start_date}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="description-row">
      <ion-col>
        <p class="description">{{data?.description}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color='primary' [routerLink]="['/receipt-form']">Record</ion-button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
