.img-style {
    border-radius: 10px;
}

.label-project {
    color: purple;
    margin-top: 0px;
    font-size: 1rem;
    white-space: normal;
    // position: absolute;
    font-family: Poppins-Regular;
    
}

.row-margin {
    margin-top: -2rem;
}

.description-row {
    margin-top: -1.5rem;
}

.description {
    color: black;
    font-family: Poppins-Regular;
    font-size: 0.9rem;
}
ion-button{
    font-family: Poppins-Regular;
    font-size: 0.9rem;
}