<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo"/>
    <ion-title slot="secondary">Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let data of recordList" class="feed-card">

    <ion-row>
      <ion-col size="3">
        <img class="img-style" [src]="data?.project_image">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col class='padding_top_bot_zero'>
            <p class="label-feed-title">{{data?.project_name}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="label-feed-date">{{data?.record_name}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="description-row">
      <ion-col>
        <p class="description">{{data?.description}}</p>
      </ion-col>
    </ion-row> -->

  </ion-card>

</ion-content>
