<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">Record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let data of donationList" class="feed-card">

    <ion-row>
      <ion-col size="3">
        <img #img1 (error)="img1.src=imageProvider.imageErrorHandle('')" class="img-style" [src]="data?.imageUrl">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <p class="label-project">{{data?.name}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="row-margin">
          <ion-col>
            <p class="label-record">{{data?.type?.name}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="description-row">
      <ion-col size="6">
        <p class="description">Starting on: {{data?.startDate| date: 'd/M/yy'}}</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf='data?.description != "-"' class="description-row">
      <ion-col>
        <p class="description">{{data?.description}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color='primary' [routerLink]="['/receipt-form']">Record</ion-button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>