.icon {
    font-size: 3.5rem;
    border: solid;
    border-radius: 13px;
    background-color: red;
    color: white;
    border-color: gray;
}

.center {
    text-align: center;
}

.sign-label {
    margin-top: 0rem;
    font-size: 0.9rem;
    font-family: Poppins-Regular;
}

.delete-icon {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #8f57e5;
}

.call-icon {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #ba1919;
}

.label {
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-family: Poppins-bold;
    color:purple;
}

.volunteer-name {
    white-space: normal;
    font-size: 0.9rem;
}


// .navbar-logo {
//     display: inline-block;
//     position: absolute;
//     width: 103px;
//     height: 40px;
// }

