<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let data of feedList" class="feed-card">

    <ion-row>
      <ion-col size="3">
        <img class="img-style" [src]="data?.profile_image">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col class='padding_top_bot_zero'>
            <p class="label-feed-title">{{data?.feedName}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <p class="label-feed-date">Today</p>
          </ion-col>
          <ion-col size="3">
            <ion-card class="new-card">
              <p class="new-label">new</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="description-row">
      <ion-col>
        <p class="description">{{data?.description}}</p>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="description-row">
      <ion-col size="2" *ngFor="let img of data?.feed_image">
        <img class="attach-img" [src]="img?.feed_images">
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-no-padding center" size="4" *ngFor='let img of data?.feed_image'>
            <img class="attach-img" [src]="[img?.feed_images]">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon ios="create" md="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <!-- <ion-item class="fab-button">
      <ion-icon name="alert" class="alert-icon"></ion-icon>
      <ion-label class="fab-label">Alert</ion-label>
    </ion-item>
    <ion-item class="fab-button">
      <ion-icon slot="end" name="megaphone" class="alert-icon"></ion-icon>
      <ion-label class="fab-label">Announcement</ion-label>
    </ion-item>
    <ion-item class="fab-button">
      <ion-icon slot="end" name="heart" class="alert-icon"></ion-icon>
      <ion-label class="fab-label">Care</ion-label>
    </ion-item>
    <ion-item class="fab-button">
      <ion-icon slot="end" name="newspaper-outline" class="alert-icon"></ion-icon>
      <ion-label class="fab-label">Feed</ion-label>
    </ion-item> -->
      <ion-fab-button color="danger" [routerLink]="['/create-post']" data-desc="Alert">
        <ion-icon name="alert"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" [routerLink]="['/create-post']" data-desc="Announcement">
        <ion-icon name="megaphone"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" [routerLink]="['/create-post']" data-desc="Care">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" [routerLink]="['/create-post']" data-desc="Feed">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>