<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf='feedList.length != 0'>
    <ion-card *ngFor="let data of feedList" class="feed-card">

      <ion-row>
        <ion-col size="3">
          <img #img1 (error)="img1.src=imageProvider.imageErrorHandle('profile')" 
          class="img-style" [src]="data?.profile_image">
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col class='padding_top_bot_zero'>
              <p class="label-feed-title">{{data?.feedName}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p class="label-feed-date">{{data?.createdDate| date: 'd/M/yy'}}</p>
              <!-- today -->
            </ion-col>
            <!-- <ion-col size="3">
              <ion-card class="new-card">
                <p class="new-label">new</p>
              </ion-card>
            </ion-col> -->
          </ion-row>
        </ion-col>
      </ion-row>
  
      <ion-row class="description-row">
        <ion-col>
          <p class="description">{{data?.description}}</p>
        </ion-col>
      </ion-row>
  
      <!-- <ion-row class="description-row">
        <ion-col size="2" *ngFor="let img of data?.feed_image">
          <img class="attach-img" [src]="img?.feed_images">
        </ion-col>
      </ion-row> -->
  
      <ion-row  *ngIf='data?.feedImg != null'>
        <ion-col class="ion-no-padding">
          <ion-row>
            <ion-col class="ion-no-padding center" size="4" *ngFor='let img of data?.feedImg'>
              <img class="attach-img" [src]="img?.imageUrl">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
  
    </ion-card>
  </div>


  <div *ngIf='feedList.length == 0'>
    <ion-row>
      <ion-col>
        <!-- <ion-icon ios="meccapan-abatanotification" md="meccapan-abatanotification" class="notification"></ion-icon> -->
        <ion-icon name="newspaper-outline" class="no-feed"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="no-text">You have no feed yet </p>
      </ion-col>
    </ion-row>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon ios="create" md="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <!-- <ion-item class="fab-button">
      <ion-icon name="alert" class="alert-icon"></ion-icon>
      <ion-label class="fab-label">Alert</ion-label>
    </ion-item>
    <ion-item class="fab-button">
      <ion-icon slot="end" name="megaphone" class="alert-icon"></ion-icon>
      <ion-label class="fab-label">Announcement</ion-label>
    </ion-item>
    <ion-item class="fab-button">
      <ion-icon slot="end" name="heart" class="alert-icon"></ion-icon>
      <ion-label class="fab-label">Care</ion-label>
    </ion-item>
    <ion-item class="fab-button">
      <ion-icon slot="end" name="newspaper-outline" class="alert-icon"></ion-icon>
      <ion-label class="fab-label">Feed</ion-label>
    </ion-item> -->
      <!-- <ion-fab-button color="danger" [routerLink]="['/create-post']" data-desc="Alert">
        <ion-icon name="alert"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" [routerLink]="['/create-post']" data-desc="Announcement">
        <ion-icon name="megaphone"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" [routerLink]="['/create-post']" data-desc="Care">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button> -->
      <ion-fab-button color="danger" (click)="navNextPage()" data-desc="Feed">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>