.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0 30px;
  font-size: 18px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

@media (prefers-color-scheme: dark) {
  .separator::before,
  .separator::after {
    border-bottom: 1px solid #fff;
  }
}

.googleLogin{
  align-content: center;
  text-align: center;
}

.font-label {
  font-size: 16px !important;
}

.center-content{
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon{
  padding-right: 0.5em;
}

ion-back-button{
  --color: var(--ion-color-primary, #3880ff);
}


