.volunteer-name {
    margin-left: 0.3rem;
    white-space: normal;
    font-family: Varela_Round;
    font-size:0.9rem;
}

.volunteer-detail {
    color: purple;
    font-family: Varela_Round;
    font-size:0.9rem;
}
