<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home-tab"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="explore">
        <h6 class="ion-margin-vertical ion-text-uppercase">Explore</h6>
      </ion-tab-button>

      <ion-tab-button tab="hosting">
        <h6 class="ion-margin-vertical ion-text-uppercase">Hosting</h6>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>