.attach-icon {
    font-size: 1.6rem;
    color: black;
    position: relative;
    margin-top: 8px;
}

.item-box {
    border: solid;
    border-color: #9a54be;
    border-width: thin;
    border-radius: 7px;
    height: 2.8rem;
    width: 95%;
    margin-left: 9px;
}