.attach-icon {
    font-size: 1.6rem;
    color: black;
    position: relative;
    margin-top: 8px;
}

.item-box {
    border: solid;
    border-color: #9a54be;
    border-width: thin;
    border-radius: 7px;
    height: 2.8rem;
    width: 95%;
    margin-left: 9px;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    font-family: Poppins-Regular;
    font-size: 0.9rem;
    color:purple;
}
ion-select-option{
    font-size:0.9rem;
}
button{
    font-family: Poppins-Regular;
    font-size:0.9rem;
}
label{
    font-family: Poppins-Regular;
    font-size:0.9rem;
}
.description_label{
    font-family: Poppins-Regular;
    font-size:0.9rem;
}
input.native-input.sc-ion-input-md{
    font-family: Poppins-Regular;
    font-size:0.9rem;
}
ion-col.md.hydrated{
    font-family: Poppins-Regular;
    font-size:0.9rem;
}