<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo"/>
    <ion-title slot="secondary">Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label no-margin>
    <ion-row>
      <ion-col size="3">
        <img class="img-style"
        [src]="[project_image]">
      </ion-col>
      <ion-col size="8">
        <p class="project-name">{{project_name}}</p>
      </ion-col>
    </ion-row>
  </ion-label>

  <form [formGroup]="postForm">

      <!-- <ion-row>
        <ion-col>
          <ion-card class="title-box">
            <ion-input formControlName='title' class="input_title" type="text"
            placeholder="Post Title">
          </ion-input>
          </ion-card>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col>
          <ion-card class="description-box">
            <ion-row>
              <ion-col>
                <ion-textarea class="description_label" rows="10" placeholder="What's on your mind"
                formControlName="formName" maxlength="1000">
              </ion-textarea>
              </ion-col>
            </ion-row>
          </ion-card>
          <ion-row class="attach-icon-padding">
            <ion-col (click)="takePicture()">
              <ion-icon class="attach-icon" ios="camera" md="camera"></ion-icon>
            </ion-col>
            <ion-col (click)="getImageFx()">
              <ion-icon class="attach-icon" ios="image" md="image"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-icon class="attach-icon" ios="location" md="location"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button ion-button (click)="postProjectFeed()" class="post-button">
                <p class="post-label">Post</p>
              </button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

  </form>

</ion-content>
