.img-style {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    border-width: 1px;
    border-style: solid;
    color: #F5F5F5;
    object-fit: cover;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
  
.project-name {
    color: purple;
    font-size: 1.2rem;
    white-space: normal;
    margin-top: 1rem;
    position: inherit;
    font-family: Varela_Round;
}

.more-icon {
    margin-top: 1rem;
    margin-left: -0.5rem;
}

.title-box {
    box-shadow: none;
    border: solid;
    border-width: 0.1px;
    border-color: #8731ba;
}

.description-box {
    box-shadow: none;
    border: solid;
    border-width: 0.1px;
    border-color: #8731ba;
    margin-top: 0.5rem;
    height: 21rem;
}

.attach-icon-padding {
    // margin-top: 11rem;
    padding-right: 14rem;
    padding-left: 0.5rem;
}

.attach-icon {
    position: relative;
    font-size: 1.6rem;
    color: black;
    border: solid;
    border-width: 1px;
    border-color: #737373;
    border-radius: 5px;
    top: -2px;
}

.post-button {
    width: 100%;
    margin-top: 0px;
    background-color: #af71f0;
    color: white;
    border-radius: 5px;
    height: 2.5rem;
}

.post-label {
    font-family: Varela_Round;
    font-size: 0.9rem;
    // margin-top: 8px;
}

.item-box {
    border: solid;
    border-color: #9a54be;
    border-width: thin;
    border-radius: 7px;
    height: 2.8rem;
    width: 95%;
    margin-left: 9px;
    font-family: Varela_Round;
}

ion-select {
    /* Applies to the value and placeholder color */
    color: #545ca7;
    white-space: normal;
}
.description_label{
    font-family: Varela_Round;
    font-size:0.9rem;
}
.input_title{
    font-family: Varela_Round;
    font-size:0.9rem;
}
.label-title{
    font-family: Varela_Round;
    font-size:0.9rem;
}

// .my-custom-interface .list-option {
//     --color: #5e3e2c;
//     --color-hover: #362419;
// }