<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center avatar-container">
    <ion-avatar>
      <img
        src="https://images.unsplash.com/photo-1497551060073-4c5ab6435f12?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
        alt="Placeholder avatar">
    </ion-avatar>
  </div>
  <div class="flex-center user-name" >
    <h4>{{profile?.name}}</h4>
  </div>
  <!-- <div class="flex-center">
    <p class="profile-pill" (click)="navNextPage()">My profile</p>
  </div> -->
  <ion-list-header>
    <ion-label>Settings & Privacy</ion-label>
  </ion-list-header>
  <ion-list class="settings-list">
    <ion-item (click)="navigateNextPage()">
      <ion-icon slot="start" name="person-circle"></ion-icon>
      <ion-label>
        <h4>My account</h4>
        <p>Manage your personal information</p>
      </ion-label>
      <ion-icon slot="end" size="small" name="chevron-forward-outline" class="chevron"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="chatbubble-ellipses"></ion-icon>
      <ion-label>
        <h4>Language</h4>
        <p>Change your language</p>
      </ion-label>
      <ion-icon slot="end" size="small" name="chevron-forward-outline" class="chevron"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list-header>
    <ion-label>Legal & Policies</ion-label>
  </ion-list-header>
  <ion-list class="legal-list">
    <ion-item (click)="terms()">
      <ion-icon slot="start" name="document-text"></ion-icon>
      <ion-label class="ion-text-capitalize">
        <h4>Terms of Use</h4>
      </ion-label>
      <ion-icon slot="end" size="small" name="chevron-forward-outline" class="chevron"></ion-icon>
    </ion-item>
    <ion-item (click)="policy()">
      <ion-icon slot="start" name="lock-closed"></ion-icon>
      <ion-label class="ion-text-capitalize">
        <h4>Data Policy</h4>
      </ion-label>
      <ion-icon slot="end" size="small" name="chevron-forward-outline" class="chevron"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/about']" routerLinkActive="active">
      <ion-icon slot="start" name="information-circle"></ion-icon>
      <ion-label class="ion-text-capitalize">
        <h4>About</h4>
      </ion-label>
      <ion-icon slot="end" size="small" name="chevron-forward-outline" class="chevron"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list-header>
    <ion-label>Others</ion-label>
  </ion-list-header>
  <ion-list class="settings-list">
    <ion-item [routerLink]="['/feedback']" routerLinkActive="active">
      <ion-icon slot="start" ion-icon name="create-outline"></ion-icon>
      <ion-label class="ion-text-capitalize">
        <h4>Feedback</h4>
      </ion-label>
      <ion-icon slot="end" size="small" name="chevron-forward-outline" class="chevron"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label>
        <h4>Logout</h4>
      </ion-label>
      <ion-icon slot="end" size="small" name="chevron-forward-outline" class="chevron"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>