<ion-content>
  <ion-grid class="header">
    <ion-row class="ion-justify-content-between ion-align-items-center margin-top">
      <ion-col>
        <ion-buttons>
          <!-- <ion-back-button defaultHref="launch"></ion-back-button> -->
          <ion-icon name="person-circle-outline" class="profile-icon" [routerLink]="['/profile']"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <img src="../../assets/mra.png" alt="MRA logo" />
      </ion-col>
      <ion-col>
        <ion-fab [routerLink]="['/sos']" horizontal="end" vertical="center">
          <ion-fab-button color="danger" size="small">SOS</ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <h5 class="greet-text">Good Evening, Siti</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row *ngIf='role == "staff"'>
    <ion-col>
      <div class="actions-grid">
        <ion-card class="action-item ion-no-margin" [routerLink]="['/scan-qr']">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-card-content class="ion-no-padding">
            QR Code
          </ion-card-content>
        </ion-card>
        <ion-card class="action-item ion-no-margin" [routerLink]="['/payment-history']">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-card-content class="ion-no-padding">
            Payment History
          </ion-card-content>
        </ion-card>
        <ion-card class="action-item ion-no-margin" [routerLink]="['/record-payment']">
          <ion-icon name="cash-outline"></ion-icon>
          <ion-card-content class="ion-no-padding">
            Record Payment
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngIf='role == "volunteer"'>
    <ion-col>
      <div class="actions-grid-volunteer">
        <ion-card class="action-item ion-no-margin" (click)="navNextPage('join')">
          <ion-icon name="add-outline"></ion-icon>
          <ion-card-content class="ion-no-padding">
            Join Project
          </ion-card-content>
        </ion-card>
        <ion-card class="action-item ion-no-margin" [routerLink]="['/scan-qr']">
          <ion-icon name="qr-code-outline"></ion-icon>
          <ion-card-content class="ion-no-padding">
            QR Code
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>


  <ion-row *ngIf='role == "volunteer"'>
    <ion-col>
      <div class="bottom-grid">
        <ion-card class="action-item ion-no-margin" [routerLink]="['/payment-history']">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-card-content class="ion-no-padding">
            Payment History
          </ion-card-content>
        </ion-card>
        <ion-card class="action-item ion-no-margin" [routerLink]="['/record-payment']">
          <ion-icon name="cash-outline"></ion-icon>
          <ion-card-content class="ion-no-padding">
            Record Payment
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>

  <div class="project-card-container" [ngClass]="{'margin-project-card-container-volunteer': role == 'volunteer'}">
    <ion-grid>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col>
          <h5 class="ion-no-margin">Your projects</h5>
        </ion-col>
        <ion-col *ngIf='projectList.length != 0' (click)="navNextPage('view')" class="ion-text-right ion-align-self-baseline">
          View more
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf='projectList.length != 0 && role == "staff"' class="ion-margin-top ion-align-items-start">
        <ion-col>
          <ion-slides pager="false" [options]="option" #mySlider>
            <ion-slide *ngFor='let data of projectList'>
              <ion-card (click)="navProjectDetail(data,'view')" class="ion-no-margin">
                <img [src]="[data?.projectPicture]">
                <ion-card-content>{{data?.projName}}</ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row *ngIf='projectList.length != 0 && role == "volunteer"' class="ion-margin-top ion-align-items-start">
        <ion-col>
          <ion-slides pager="false" [options]="option" #mySlider>
            <ion-slide *ngFor='let data of projectList'>
              <ion-card (click)="navProjectDetail(data,'view')" class="ion-no-margin">
                <img [src]="[data?.proj?.projectPicture]">
                <ion-card-content>{{data?.proj?.projName}}</ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row *ngIf='projectList.length == 0'>
        <ion-col>
          <ion-col class="ion-text-center">
            <h5 class="greet-text">You did not join any project yet</h5>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>