.header {
  background: url(../../assets/nav-bg.jpg);
  background-repeat: no-repeat;
  height: 190px;
  width: 100%;
  z-index: 5;
  position: relative;
}

.actions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 12px;
  position: absolute;
  top: 150px;
}

.action-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  z-index: 10;
  box-shadow: 2px 4px 10px rgba(97, 97, 100, 0.12);

  ion-icon {
    margin-bottom: 6px;
    font-size: 2rem;
  }

  p {
    font-size: 15px;
    margin: 0;
  }
}

.project-card-container {
  padding: 0 12px;
  margin: 10px 0;
  position: absolute;
  top: 375px;
  width: 100%;

  ion-card {
    width: 140px;
    height: 240px;

    img {
      height: 140px;
      width: 140px;
      object-fit: cover;
    }

    ion-card-content {
      padding: 12px;
      text-align: left;
    }
  }
}
