<ion-content>
  <ion-grid class="header">
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col>
        <ion-buttons>
          <ion-back-button defaultHref="launch"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <img src="../../assets/mra.png" alt="MRA logo" />
      </ion-col>
      <ion-col>
        <ion-fab horizontal="end" vertical="center">
          <ion-fab-button color="danger" size="small">SOS</ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="actions-grid">
    <ion-card class="action-item ion-no-margin" *ngFor="let item of actions">
      <ion-icon name="{{ item.icon }}"></ion-icon>
      <p>{{ item.title }}</p>
    </ion-card>
  </div>
</ion-content>