.header {
  background: url(../../assets/nav-bg.jpg);
  background-repeat: no-repeat;
  height: 190px;
  width: 100%;
  z-index: 5;
  position: relative;
}

.actions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 12px;
  position: absolute;
  top: 150px;
}

.action-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  z-index: 10;
  box-shadow: 2px 4px 10px rgba(97, 97, 100, 0.12);
}

.action-item ion-icon {
  margin-bottom: 6px;
  font-size: 2rem;
}

.action-item p {
  font-size: 15px;
  margin: 0;
}
