.header {
  background: url(../../assets/nav-bg.jpg);
  background-repeat: no-repeat;
  height: 190px;
  width: 100%;
  z-index: 5;
  position: relative;

  ion-back-button {
    --color: white;
  }

  .profile-icon {
    font-size: 24px;
    margin-left: 10px;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  .greet-text {
    color: white;
  }
}

.actions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0 10px;
  position: absolute;
  top: -2rem;
}

.bottom-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 70px;
  position: absolute;
  top: 5rem;
}

.actions-grid-volunteer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 70px;
  position: absolute;
  top: -2rem;
}


.action-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  z-index: 10;
  box-shadow: 2px 4px 10px rgb(97 97 100 / 12%);
  width: 6.2rem;
  border: solid;
  border-width: thin;

  ion-icon {
    margin-bottom: 6px;
    font-size: 2rem;
  }

  p {
    font-size: 15px;
    margin: 0;
  }
}

.project-card-container {
  padding: 0 12px;
  margin: 10px 0;
  position: absolute;
  width: 100%;
  top: 19rem;
  

  ion-slides {
    margin-bottom: 20px;
    overflow: visible;
  }

  ion-card {
    width: 140px;

    img {
      height: 140px;
      width: 140px;
      object-fit: cover;
    }

    ion-card-content {
      padding: 12px;
      text-align: left;
    }
  }
}

.margin-project-card-container-volunteer {
  top: 25rem !important
}

.margin-top {
  margin-top: 1rem;
}
