<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-buttons (click)="navigateNextPage()">
      <button btn-edit >
        Edit Account
      </button>
    </ion-buttons>
  </div>


  <div class="flex-center avatar-container">
    <ion-avatar>
      <img
        src="https://images.unsplash.com/photo-1497551060073-4c5ab6435f12?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80"
        alt="Placeholder avatar">
    </ion-avatar>
  </div>
  <div  class="flex-center">
    <h2 parallax-title>{{navParam?.name}}</h2>
  </div>
  <div class="flex-center">
    <p class="profile-pill">{{navParam?.email}}</p>
  </div>

  <ion-list class= "accountList">
    <ion-label>
      <p>Identification Number</p>
      <h2>{{navParam?.icNo}}</h2>
    </ion-label>
    <ion-label>
      <p>Gender</p>
      <h2>{{navParam?.gender}}</h2>
    </ion-label>
    <ion-label>
      <p>Phone Number</p>
      <h2>+{{navParam?.contactCode}}{{navParam.contactNo}}</h2>
    </ion-label>
    <ion-label>
      <p>Email Address</p>
      <h2>{{navParam?.email}}</h2>
    </ion-label>
    <ion-label>
      <p>Home Address</p>
      <h2>{{navParam?.address1}}</h2>
      <h2>{{navParam?.address2}}</h2>
      <h2>{{navParam?.address3}}</h2>
    </ion-label>
    <ion-label>
      <p>Postcode</p>
      <h2>{{navParam?.postcode}}</h2>
    </ion-label>
    <ion-label>
      <p>City</p>
      <h2>{{navParam?.city}}</h2>
    </ion-label>
    <ion-label>
      <p>Country</p>
      <h2>{{navParam?.country}}</h2>
    </ion-label>
  </ion-list>
</ion-content>
