<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf='isNewUser == false'>
    <ion-col>
      <ion-button btn-edit (click)="navigateNextPage()">
        Edit
      </ion-button>
    </ion-col>
  </ion-row>



  <div class="flex-center avatar-container">
    <ion-avatar>
      <img #img1 (error)="img1.src=imageProvider.imageErrorHandle('profile')"
        [src]="[profile?.profilePicture]"
        alt="Placeholder avatar">
    </ion-avatar>
  </div>
  <div  class="flex-center">
    <h2 parallax-title>{{profile?.name}}</h2>
  </div>
  <div class="flex-center">
    <p class="profile-pill">{{profile?.email}}</p>
  </div>

  <ion-list class= "accountList">
    <ion-label>
      <p>Identification Number</p>
      <h2>{{profile?.icNo}}</h2>
    </ion-label>
    <ion-label>
      <p>Gender</p>
      <h2>{{profile?.gender}}</h2>
    </ion-label>
    <ion-label>
      <p>Phone Number</p>
      <h2>+{{profile?.contactCode}}{{profile?.contactNo}}</h2>
    </ion-label>
    <ion-label>
      <p>Email Address</p>
      <h2>{{profile?.email}}</h2>
    </ion-label>
    <ion-label>
      <p>Home Address</p>
      <h2>{{profile?.address1}}</h2>
      <h2>{{profile?.address2}}</h2>
      <h2>{{profile?.address3}}</h2>
    </ion-label>
    <ion-label>
      <p>Postcode</p>
      <h2>{{profile?.postcode}}</h2>
    </ion-label>
    <ion-label>
      <p>City</p>
      <h2>{{profile?.city}}</h2>
    </ion-label>
    <ion-label>
      <p>Country</p>
      <h2>{{profile?.country}}</h2>
    </ion-label>
  </ion-list>
</ion-content>
