[btn-edit]{
  text-transform: capitalize;
  border-radius: 21px;
  border-color: #3B3B3B ;
  color: #3B3B3B ;
  font-size: 15px;
  float: right;
  margin-left: 72%;
  margin-top: 4%;
  padding: 2%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar-container {
  margin: 0 20px 0 0;

  ion-avatar {
    height: 80px;
    width: 80px;
  }
}
.user-name {
  margin: 0 0 10px;
  font-size: 100px;
}

.accountList{
  padding-left: 30px;

  p{
    padding-top: 20px;
  }

  h2{
    font-size: 15px !important;
    z-index: 99999;
    position: relative;
    margin-top: 0px;
  }
}

.profile-pill{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6e6e6e ;
}


[parallax-title] {
  font-size: 20px !important;
  color: #3B3B3B;
  z-index: 99999;
  position: relative;
  margin-bottom: 0px;
  font-weight: bold;
}
