<ion-header>
  <ion-toolbar>
    <img slot="secondary" src="assets/mra.png" class="navbar-logo" />
    <ion-title slot="secondary">Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row *ngIf='notiList?.length != 0' class="ion-justify-content-between ion-align-items-center">
      <ion-col>
        
        <ion-card *ngFor="let data of notiList" class="task-card">
          <ion-row>
            <ion-col size="3">
              <img #img1 (error)="img1.src=imageProvider.imageErrorHandle('profile')" class="img-style" [src]="data?.orgLogo">
            </ion-col>
            <ion-col>
              <ion-row class="space">
                <ion-col>
                  <p class="label-task-date">{{data?.createdDate| date: 'EEEE, dd MMMM yyyy'}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="space">
                <ion-col>
                  <p class="description">{{data?.title}}</p>
                </ion-col>
              </ion-row>
              <ion-row *ngIf='notAccept(data) == true' style="text-align: center;">
                <ion-col (click)="acceptJoin(data)">
                  <ion-button class="accept-button" color="primary">Accept</ion-button>
                </ion-col>
                <ion-col (click)="rejectJoin()">
                  <ion-button class="rej-button" color="gray">Reject</ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>


        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
